html {
  background: url('https://i.imgur.com/BmEs4fy.jpg') no-repeat center center
    fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  min-height: 100vh;
}

body {
  background: none;
}

.opacity-0 {
  opacity: 0;
}
